:root {
  font-family: ".PingFang SC Medium",  Avenir, Helvetica, Arial, sans-serif;

  --text: #080024;
  --background: #f3f0ff;
  --primary: #4c1bfe;
  --secondary: #ff6b93;
  --accent: #ff6647;
}

body {
  margin: 0;
}
